
{% extends "halaman/base.html" %}
{% load static %}
{% block content %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Selamat datang di news.id, tempat inovasi bertemu dengan dedikasi. kami berkomitmen untuk menyediakan berita berkualitas tinggi yang mengubah cara Anda hidup dan bekerja.</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Visi Misi news.id</h2>
                    <h5 class="description"><br> Misi Kami<br>

                        Misi kami adalah memberikan berita terbaik yang melebihi harapan pelanggan, dengan terus berinovasi dan meningkatkan diri.<br>
                        
                        <br>Visi Kami
                        
                        <br>Visi kami adalah menjadi pemimpin di berita, menetapkan standar keunggulan dan keandalan.
                        
                        Nilai-Nilai Kami<br>
                        
                        
                       <br>1.Integritas
                       <br>2.Inovasi
                       <br>3.Fokus pada Pelanggan
                       <br>4.Keunggulan
                       <br>5.Kerjasama Tim
                    </h5>
                </div>
            </div>
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/marc.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Dion Ikhzanza Rabbil</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>

                            <p class="card-description">
                                And I love you like Kanye loves Kanye. We need to restart the human foundation.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}